 <!DOCTYPE html>
            <html lang='en'>
                <head>
                    <meta charset='utf-8'>
                    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/PerryPal21/perry.css@master/perry.css">
                    <title>Perry's MOTD | Today</title>
                    <style>
                        body {
                            margin: 0;
                            padding: 20px;
                            box-sizing: border-box;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            text-align: center;
                            user-select: none;
                        }
                        html, body { background-color: #2B3A4C; height: 100%; overflow: hidden; }
                        nav { flex: 1; }
                        div { display: flex; flex-direction: row; gap: 14px; justify-content: center; }
                        p { margin: 0 0 10px 0;}
                        pre {width: 20rem;}
                    </style>
                </head>
                <body>
                  <nav>
                    <h6>Perry's Message of the Day (Latest)</h6>
                     <i><p><%=msgtoday.msg%></p></i>
                    <a href="https://motd.perrypal.xyz"><p><%=msgtoday.date%></p></a>
                  </nav>


                </body>
            </html>
